.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text{
    color: rgb(59, 52, 52);
    font-weight: bold;
    padding-left: 10px;
}
i{
    color: rgb(248, 149, 0);
    font-weight: bold;
}
h3{
    color: chocolate;
}